<%-include("partials/header")-%>
<h1>Contact</h1>
<p><%= contactContent    %></p>
<h3>Details:</h3>
<h4>Sagnik Datta:</h4>
<h5>+91-7005758195,</h5>
<h5>sagnikdatta.agt@gmail.com</h5>
<h4>Ekant Datta:</h4>
<h5>+91-8837085551</h5>
<h5>+91-9677081417</h5>
<h5>ekantsrkdatta@gmail.com</h5>

<%-include("partials/footer")-%>