<%-include("partials/header")-%>
<h1>Contact</h1>
<p><%= contactContent    %></p>
<h3>Details:</h3>
<h4>Sagnik Datta:</h4>
<h5>+91-7005758195,</h5>
<a href="mailto:sagnikdatta.agt@email.com">sagnikdatta.agt@gmail.com</a>

<%-include("partials/footer")-%>